.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: relative;
  z-index: 10;
}
.wrapper a {
  color: white !important;
  border: 1px solid white;
  border-radius: 5px;
  margin: 0 10px;
  padding: 5px;
}
.title {
  color: white !important;
  text-align: center;
  margin-top: 400px;
  font-size: 42px;
}
.wrapperList {
  width: fit-content;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}

.wrapperList a {
    font-size: 26px;
}

.button {
    position: absolute;
    top: 50px;
    left: 50px;
    color: white;
    background-color: transparent;
    border: 0;
    z-index: 100;
}