.wrapper{
    /* background: black; */
    /* background-size: cover;
    height: 40vh;
    width: 30%; */
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(13, 0, 255);
    font-size: 36px;
    position: absolute;
    z-index: 20;
    top: 50%;
    left: 50%;
    text-align: center;

    transform: translate(-50%, -50%)
}

.buttons{
    position: absolute;
    right: 20px;
    bottom: 100px;
}
.buttons a{
    color: white;
    padding: 20px;
    font-size: 32px;
    background-color: black;
}